[Unit]
Description=Conjure DNS Registrar

[Service]
Type=simple

WorkingDirectory=/opt/conjure/cmd/registration-dns/

SyslogIdentifier=conjure
EnvironmentFile=/opt/conjure/sysconfig/conjure.conf

ExecStart=/opt/conjure/cmd/registration-dns/registration-dns --config /opt/conjure/cmd/registration-dns/config.toml

# on stop processes will get SIGTERM, and after 10 secs - SIGKILL (default 90)
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
