[Unit]
Description=Conjure Application

# the conjure detector is not required, but if it is enabled, then the application will be scheduled after it.
After=conjure-detector.service

[Service]
Type=simple

WorkingDirectory=/opt/conjure/

SyslogIdentifier=conjure
EnvironmentFile=/opt/conjure/sysconfig/conjure.conf

# # makes if binary doesn't exist
# ExecStartPre=/bin/bash /opt/conjure/build.sh
# Ensure zbalance finished starting (else pfring_zc_ipc_attach can give Invalid argument)
ExecStartPre=/bin/sleep 10
ExecStart=/opt/conjure/application/application

# send SIGHUP to the station process
ExecReload=/bin/kill -HUP $MAINPID

# on stop processes will get SIGTERM, and after 10 secs - SIGKILL (default 90)
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
