[Unit]
Description=Conjure ZMQ Proxy

[Service]
Type=simple

WorkingDirectory=/opt/conjure/

SyslogIdentifier=conjure
EnvironmentFile=/opt/conjure/sysconfig/conjure.conf

ExecStart=/opt/conjure/zmq-proxy/zmq-proxy

# on stop processes will get SIGTERM, and after 10 secs - SIGKILL (default 90)
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
