[Unit]
Description=Conjure Detector

After=zbalance.service
# zbalance is not required, but if it is enabled, then tapdance will be scheduled after zbalance

[Service]
Type=simple

WorkingDirectory=/opt/conjure/

SyslogIdentifier=conjure

# Ensure zbalance finished starting (else pfring_zc_ipc_attach can give Invalid argument)
ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash /opt/conjure/scripts/start_detector.sh

# on stop processes will get SIGTERM, and after 10 secs - SIGKILL (default 90)
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
