[Unit]
Description=zero-copy packet balancer for multiple consumer processes

Before=tapdance.service

[Service]
Type=simple

WorkingDirectory=/opt/conjure/

SyslogIdentifier=zbalance

ExecStartPre=/opt/conjure/bin/on-reboot.sh

ExecStart=/bin/bash /opt/conjure/scripts/start_zbalance_ipc.sh

# on stop processes will get SIGTERM, and after 20 secs - SIGKILL (default 90)
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
